MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_RW_USER=user_rw
MINIO_RW_PASSWORD=password

AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_ENDPOINT_URL=http://minio:9000

POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=airflow

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=password
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_UID=50000